.abt{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; 
}
.abt-lft{
    flex-basis: 40%;
    position: relative;
}
.abt-rgt{
    flex-basis: 50%;
}
.img1{
    width: 500px;
    border-radius: 10px;
}
.img2{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.abt h3{
    font-weight: 700;
    font-size: 20px;
    color: rgb(65, 7, 139);

    font-weight: bold;
}
.abt h2{
   margin: 10px , 0;
    font-size: 30px;
    color:crimson;
    max-width: 400px;
    font-weight: bolder;
}
.abt p{
    color: rgb(65, 7, 139);
   
    margin-bottom: 18px;
}
@media(max-width:800px){
    .abt{
        flex-direction: column;
    }
    .abt-lft{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .abt-rgt{
        flex-basis: 100%;
    }
}