.photo{
    margin: 75px auto;
    width: 90%;
    text-align: center;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.grid img {
    width: 23%;
    border-radius: 12px;
}
@media(max-width:800px){
    .grid{
        flex-wrap: wrap;
    }
    .grid img{
        width: 45%;
        margin-bottom: 25px;
    }
}